* {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    place-items: center;
    background: #ebeefd;
    color: #121212;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100%;
}